
body {
	font-family: sans-serif;
}

.banner-background {
	width: 100%;
	height: auto;
	background: url(../resources/hero.png) no-repeat;
}

.banner {
	margin: 0 auto;
	max-width: 300px;
	padding: 30px;
}

.banner h1 {
	font: Roboto, sans-serif;
	text-align: center;
}

.logo-div {
	margin: 0 auto;
	width: 200px;
	height: 200px;
}

.portfolio {
	margin: 0 auto;
	padding: 10px;
	max-width: 200px;
	max-height: 100px;
}

.icon {
	width: 50px;
	height: 50px;
}

