
body {
	font-family: sans-serif;
}

a {
	cursor: pointer;
}

.head-bar {
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	height: 48px;
	background-color: #fff;
	z-index: 100;
}

.menu {
	margin: 0 auto;
	max-width: 760px;
	padding: 0 30px;
}

.menu-first {
	padding-left: 0;
}

.menu-item {
	float: left;
	color: #262626;
	text-transform: uppercase;
	font: Roboto, sans-serif;
	font-size: 11px;
	letter-spacing: 2px;
	padding: 19px 12px 0 12px;
	height: 35px;
}

.banner-background {
	margin-top: 39px;
	width: 100%;
	height: auto;
	background: color #6CA6CD;
}

.banner {
	margin: 0 auto;
	max-width: 760px;
	padding: 30px;
}

.banner h1 {
	font: Roboto, sans-serif;
	text-align: center;
}

.banner h2 {
	text-align: center;
}

.logo-div {
	margin: 0 auto;
	width: 200px;
	height: 200px;
}

