
.body {
	font: Arial, Helvetica, sans-serif;

}

.banner-background {
	margin: auto;
	padding: auto;
}

.banner {
	margin: 0 auto;
	max-width: 300px;
	padding: 30px;
}

.banner h1 {
	text-align: center;
}

.logo-div {
	margin: 0 auto;
	width: 200px;
	height: 200px;
}

.portfolio {
	margin: 0 auto;
	padding: 10px;
	width: 100px;
	height: 50px;
}

.icon {
	width: 50px;
	height: 50px;
}

