.p-grid-list {
	margin-right: -2px;
	margin-left: -2px;
	margin-top: 58px;
	background-color: #efefef;
	padding: 0px;
	height: auto;
	text-align: center;
}

.p-grid-list li {
	display: inline-block;
	margin: 0;
	vertical-align: top;
	height: 250px;
	z-index: 1;
}

.title {
	position: absolute;
	color: #fff;
	background: #262626;
	display: none;
	opacity: 0;
	z-index: 99;
	width: 250px;
	text-align: center;
	height: 50px;
	padding-top: 25px;
}

.p-grid-list li:hover .title {
	display: block;
	opacity: 1;
}

.p-grid-list li > a,
.p-grid-list li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}
