
#portfolio-list {
	margin-right: -2px;
	margin-left: -2px;
	background-color: #efefef;
}

#portfolio-list li {
	display: inline-block;
	width: 25%;
	max-width: 430px;
	text-align: left;
}

.title {
	visibility: hidden;
	display: none;
	position: absolute;
	background-color: #262626;
	margin: 0;
}

.title:hover{
	visibility: visible;
}