
#portfolio-list {
	margin-right: -2px;
	margin-left: -2px;
	margin-top: 58px;
	background-color: #efefef;
}

#portfolio-list li {
	display: inline-block;
	width: 25%;
	text-align: left;
}

.portfolio-elem {
	max-width: 480px;
	width: 25%;
	display: inline-block;
}

.portfolio-elem img {
	width: 25%;
	height: auto;
}

.title {
	visibility: hidden;
	display: none;
	position: absolute;
	background-color: #262626;
	margin: 0;
}

.title:hover{
	visibility: visible;
}