#skills {
  text-align: center;
  margin-top: 58px;
  margin: 58px auto 0 auto;
  height: auto;
  background-color: #fff;
}

.graph {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 10px;
  vertical-align: top;
}

.skill-title {
  position: absolute;
  margin: auto;
  top: 75px; left: 0; right: 0; bottom: 0;
  height: 100px;
  font: 16px 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.skillGraph {
}

.skill-lv {
  text-transform: uppercase;
  font-style: lighter;
  font: 12px 'Open Sans', sans-serif;
}
