/* color definitions */
$blue: #0099ff;
$blue-variant: #32adff;
$yellow:#ffcc66;
$yellow-variant: #FFD684;
$red: #ff6666;
$red-variant: #ff8484;

/* size definitions */
$icon: 30px;

/* font definitions */
$Prata: 'Prata', serif;
$OpenSans: 'Open Sans', sans-serif;

body, #boxes {
  margin: 0;
  padding: 0;
}

a { text-decoration: none;  }

.hero {
  width: 100%;
  height: 100%;
  display: block;
  padding-bottom: 50px;
  padding-top: 50px;
  
  h2 {
    font-family: $OpenSans;
    font-size: 40px;
    font-weight: 800;
    padding: 0;
    margin: 0;
  }
}

#title_wrapper {
  margin: 0 auto;
  width: 400px;
  padding: 15px; padding-left: 35px;
  text-align: left;
}

/* BOXES CSS */
#boxes {
  width: 100%;
  height: 33%;
}

.box {
  width: 33.333333333%;
  height: 33%;
  display: inline-block;
  padding-top: 40px; padding-bottom: 40px;
  margin: 0;
  position: relative;
  float: left;
  text-align: center;
  color: #fff;
  font-family: $OpenSans;
  font-size: 30px;
  
  h2 {  font-size: 24px;  }
}

#box_wrapper {
  width: 75%;
  margin: 0 auto;
}

#work { background: $yellow;  }

#work:hover { background: $yellow-variant;  }

#about {  background: $blue;  }

#about:hover {
  background: $blue-variant;
}

#design { background: $red; }

#design:hover { background: $red-variant; }

/* ABOUT CSS */

#about_wrapper {
  width: 55%;
  margin: 0 auto;
  background: #fff;
  text-align: center;
}

#back { 
  padding: 10px;  
  display:block;
  position:absolute;
}

#back img{
  width: 40px;
  height: 40px;
}

#details {
  font-family: $OpenSans;
  padding-top: 50px;
  h2 {
    font-size: 50px;
    padding: 0;
    margin: 0;
  }
  
  h3 {
    font-size: 24px;
    font-weight: 300;
    color: #444;
    padding: 0;
    margin: 0;
  }
  
  #title {
    margin-bottom: 10px;
  }
  
  #email {  
    color: $blue; 
    padding-bottom: 25px;
  }
}

#about_text {
  p {
    font-family: $OpenSans;
  }
}

.nav_item {  display: inline;  }

nav img {
  width: $icon;
  height: $icon;
}

@media (max-width: 670px){
  .box {
    width: 100%;
    display: block;
    float: none;
  }
  
  .hero h2 {
    font-size: 30px;
    padding: 10px;
  }
  
  #box_wrapper {  width: 100%;  }
  
  #title_wrapper {  width: 320px; }
  
  #about_wrapper {  width: 90%; }
  
  #about_text { 
    padding-left: 15px; padding-right: 15px; margin-top: 0px;}
  
}

