<!DOCTYPE html>
<html ng-app="playgroundApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jared Jones</title>
  <link rel="stylesheet" href="main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Prata" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="playground.js"></script>
</head>
  <body>
    <a href=work.html><div id="back"><img src="arrow.png"></div></a>
    <div class="hero">
      <div id="title_wrapper">
        <h2>My Web Playground</h2>
      </div>
    </div>
    <div id="playground_wrapper">
      <h1>Angular Practice</h1>
      <!--   data binding test   -->
      <div ng-app="">
        <input type="text" ng-model="name" placeholder="Enter text">
 	    <h2 ng-bind="name"></h2>
      </div>
      
      <!--   list test   -->
      <div ng-controller="NameListController">
        <input type="text" ng-model="newName" placeholder="Enter your name">
        <button ng-click="addName()">Add</button>
        <ul>
          <li ng-repeat="name in names">
            <h2>{{name}}</h2>
          </li>
        </ul>
      </div>
      
    </div>
    
    
  </body>
</html>